<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<aside th:fragment="sidebar" class="h-full p-10 w-full">
    <div class="w-full flex flex-col gap-4 justify-center">
        <a th:classappend="${#request.requestURI.contains('/admin/dashboard') ? 'text-blue-500' : ''}"
           th:href="@{/admin/dashboard}"
           class="py-2 px-4 rounded hover:text-blue-500">🏠 Dashboard</a>

        <a th:classappend="${#request.requestURI.contains('/admin/course') ? 'text-blue-500' : ''}"
           th:href="@{/admin/course/list}"
           class="py-2 px-4 rounded hover:text-blue-500">📖 Courses</a>

        <a th:classappend="${#request.requestURI.contains('/admin/student') ? 'text-blue-500' : ''}"
           th:href="@{/admin/student/list}"
           class="py-2 px-4 rounded hover:text-blue-500">👥 Students</a>

        <a th:classappend="${#request.requestURI.contains('/admin/enrollment') ? 'text-blue-500' : ''}"
           th:href="@{/admin/enrollment/list}"
           class="py-2 px-4 rounded hover:text-blue-500">👩‍🎓 Enrollment</a>
    </div>
</aside>

</body>
</html>