<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 w-full h-screen flex flex-col">
<div th:if="${isDelete}" th:replace="admin/course-management/delete-course :: delete-course"></div>
<div th:if="${isShowForm}" th:replace="admin/course-management/course-form :: courseForm"></div>

<header th:replace="fragment/admin-header :: header"></header>

<main class="flex flex-1 w-full">
    <div class="w-[300px] shrink-0">
        <aside th:replace="fragment/admin-sidebar :: sidebar"></aside>
    </div>

    <div class="flex-1 flex flex-col py-[40px] items-center gap-5">
        <div class="w-full flex justify-between px-10 items-center">
            <h2 class="text-2xl font-bold">Course Management</h2>
            <button onclick="window.location.href='/admin/course/showForm'" class="bg-indigo-500 text-white px-4 py-2 rounded">Add New Course</button>
        </div>
        <div class="w-full flex justify-end px-10 gap-3 outline-none items-center">
            <!-- Form Filter -->
            <form th:action="@{/admin/course/list}" method="get" class="inline-block">
                <select name="status" class="px-2 py-1 rounded-md border border-gray-300" onchange="this.form.submit()">
                    <option value="">Filter by status</option>
                    <option value="true" th:selected="${status} == true">True</option>
                    <option value="false" th:selected="${status} == false">False</option>
                </select>
                <input type="hidden" name="orderBy" th:value="${orderBy}">
                <input type="hidden" name="orderType" th:value="${orderType}">
                <input type="hidden" name="kw" th:value="${kw}">
            </form>

            <!-- Form Sort -->
            <form th:action="@{/admin/course/list}" method="get" class="inline-block">
                <select name="orderBy" class="px-2 py-1 rounded-md border border-gray-300" onchange="this.form.submit()">
                    <option value="id" th:selected="${orderBy} == 'id'">Id</option>
                    <option value="name" th:selected="${orderBy} == 'name'">Name</option>
                </select>

                <select name="orderType" class="px-2 py-1 rounded-md border border-gray-300" onchange="this.form.submit()">
                    <option value="asc" th:selected="${orderType} == 'asc'">Asc</option>
                    <option value="desc" th:selected="${orderType} == 'desc'">Desc</option>
                </select>

                <input type="hidden" name="status" th:value="${status}">
                <input type="hidden" name="kw" th:value="${kw}">
            </form>

            <!-- Form Search -->
            <form th:action="@{/admin/course/list}" method="get" class="inline-block">
                <input name="kw" class="px-2 py-1 rounded-md border border-gray-300" type="text"
                       placeholder="Search by name" th:value="${kw}">
                <input type="submit" class="px-4 py-2 rounded-md border bg-blue-500 text-white" value="Search">

                <input type="hidden" name="status" th:value="${status}">
                <input type="hidden" name="orderBy" th:value="${orderBy}">
                <input type="hidden" name="orderType" th:value="${orderType}">
            </form>
        </div>

        <table class="w-[95%] mx-auto mt-5 bg-white shadow rounded-lg">
            <thead class="bg-gray-100 text-left text-sm font-semibold text-gray-700">
            <tr>
                <th class="px-4 py-3">Course ID</th>
                <th class="px-4 py-3">Course Name</th>
                <th class="px-4 py-3">Duration (Hours)</th>
                <th class="px-4 py-3">Instructor</th>
                <th class="px-4 py-3">Image</th>
                <th class="px-4 py-3">Created At</th>
                <th class="px-4 py-3">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${courses}" class="border-t text-sm hover:bg-gray-50">
                <td class="px-4 py-2" th:text="${c.id}"></td>
                <td class="px-4 py-2" th:text="${c.name}"></td>
                <td class="px-4 py-2" th:text="${c.duration}"></td>
                <td class="px-4 py-2" th:text="${c.instructor}"></td>
                <td class="px-4 py-2">
                    <img th:src="${c.image}" alt="Course Image" class="w-12 h-12 object-cover rounded" />
                </td>
                <td th:text="${c.formattedCreateAt}"></td>
                <td class="px-4 py-2 flex gap-2">
                    <a th:href="@{/admin/course/showForm(id=${c.id})}" class="text-yellow-500 hover:text-yellow-700">
                        <button type="button">✏️</button>
                    </a>
                    <a th:if="${c.status == true}"
                       th:href="@{'/admin/course/delete/' + ${c.id}}"
                       class="text-red-500 hover:text-red-700">
                        🗑️
                    </a>

                    <a th:if="${c.status == false}"
                       th:href="@{'/admin/course/delete/' + ${c.id}}"
                       class="text-green-500 hover:text-green-700">
                        🔓
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="${totalPages > 1}" class="w-full fixed bottom-[50px] flex justify-center mt-6">
            <ul class="inline-flex items-center space-x-1 text-sm">
                <li th:if="${currentPage > 1}">
                    <a th:href="@{/admin/course/list(page=${currentPage - 1}, orderBy=${orderBy}, orderType=${orderType}, status=${status}, kw=${kw})}"
                       class="px-3 py-2 bg-white border rounded hover:bg-gray-100">&laquo;</a>
                </li>
                <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                    th:classappend="${i == currentPage} ? 'bg-blue-500 text-white' : 'bg-white text-gray-700'"
                    class="px-3 py-2 border rounded hover:bg-gray-100">
                    <a th:href="@{/admin/course/list(page=${i}, orderBy=${orderBy}, orderType=${orderType}, status=${status}, kw=${kw})}"
                       th:text="${i}">1</a>
                </li>
                <li th:if="${currentPage < totalPages}">
                    <a th:href="@{/admin/course/list(page=${currentPage + 1}, orderBy=${orderBy}, orderType=${orderType}, status=${status}, kw=${kw})}"
                       class="px-3 py-2 bg-white border rounded hover:bg-gray-100">&raquo;</a>
                </li>
            </ul>
        </div>

    </div>
</main>
</body>
</html>